.title {
  color: #fff !important;
  font-size: 1rem !important;
  font-family: "poppins", sans-serif;
}
.text {
  color: #ded8d8 !important;
  font-size: 0.9rem !important;
}

.course-heading {
  font-size: 1.4rem !important;
  font-family: "poppins", sans-serif;
  border-bottom: 4px solid #5188bb;
  padding-bottom: 0.6rem !important;
  text-transform: uppercase;
  margin-bottom: 1rem !important;
}
